{% extends "base.html" %}
{% block content %}

<div class="card p-4">
    <h4>Cambiar contraseña</h4>

    <p>
        Usuario: <strong>{{ username }}</strong>
    </p>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Nueva contraseña</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-primary">
            Guardar contraseña
        </button>

        <a href="/admin" class="btn btn-secondary">
            Cancelar
        </a>
    </form>
</div>

{% endblock %}
